body
{
	background: gray;
}
section
{
	background: rgb(199, 197, 189);
	height: 430px;
	width: 700px;
	margin: 0px auto;
}
header
{
	float: left;
	width: 650px;
	height: 30px;
	font-size: 20px;
	font-weight: bold;
	background: darkblue;
	color: white;
	text-align: center;
	padding-top: 10px;
}
.heading
{
	float: left;
	height: 33px;
	width: 700px;
	background: rgb(32, 165, 209);
	text-align: center;
	padding-top: 5px;
	font-weight: bold;
	margin-top: 15px;
}
.contact
{
	float: left;
	height: 33px;
	width: 700px;
	background: rgb(32, 165, 209);
	text-align: center;
	padding-top: 5px;
	font-weight: bold;
	margin-top: 30px;
}
.first
{
	float: left;
	height: 170px;
	width: 648px;
	margin-top: 5px;
}
.passport
{
	float: left;
	height: 120px;
	width: 90px;
	border: 1px solid;
	margin: 4px 0px 0px 5px;
}

.lbl
{
	float: left;
	height: 20px;
	width: 95px;
	margin: 5px 0px 0px 5px;
	text-align: left;	
}
.lblgn
{
	float: left;
	height: 20px;
	width: 70px;
	margin: 5px 0px 0px 5px;
	text-align: left;	
}
.lblcrc
{
	float: left;
	height: 20px;
	width: 70px;
	margin: 5px 0px 0px 5px;
	text-align: left;	
}
.Namedet
{
	float: left;
	height: 20px;
	width: 448px;
	border-bottom: 1px solid;
	margin: 5px 0px 0px 5px;
	text-align: center;
}
.dob
{
	float: left;
	height: 20px;
	width: 225px;
	border-bottom: 1px solid;
	margin: 5px 0px 0px 5px;
	text-align: center;
}
.gender
{
	float: left;
	height: 20px;
	width: 117px;
	border-bottom: 1px solid;
	margin: 5px 0px 0px 0px;
	text-align: center;
}
.cntry
{
	float: left;
	height: 20px;
	width: 90px;
	border-bottom: 1px solid;
    text-align: center;
	margin: 5px 0px 0px 5px;
}
.crc
{
	float: left;
	height: 20px;
	width: 170px;
	border-bottom: 1px solid;
	margin: 5px 0px 0px 5px;
    text-align: center;
}
.crc1
{
	float: left;
	height: 20px;
	width: 276px;
	border-bottom: 1px solid;
	margin: 5px 0px 0px 5px;
    /* text-align: center; */
}
.mail
{
	float: left;
	height: 20px;
	width: 268px;
	border-bottom: 1px solid;
	margin: 5px 0px 0px 5px;
    text-align: center;
}
.addr
{
	float: left;
	height: 20px;
	width: 542px;
	border-bottom: 1px solid;
	margin: 5px 0px 0px 5px;
    text-align: center;
}
.stt
{
	float: left;
	height: 20px;
	width: 268px;
	border-bottom: 1px solid;
    text-align: center;
	margin: 5px 0px 0px 5px;
}
.button
{
	height: 50px;
	width: 650px;
	float: left;
	margin-top: 25px;
	/*border: 1px solid;*/
}
.cncl
{
	height: 25px;
	width: 100px;
	float: left;
	margin: 10px 0px 0px 215px;
	/*border: 1px solid;*/
}
.print
{
	height: 25px;
	width: 100px;
	float: left;
	margin: 10px 0px 0px 5px;
	/*border: 1px solid;*/
}
.cnc:hover {background-color: #e40017}
.prt:hover {background-color: #3e8e41}